<div class="bird-info">
    <h2> Bird Information</h2>

    <!-- all the bird info is held in an input box,to update just change the information and click the
    update info button.-->

    <div class="flash-info">
        {{#if messages}}
            <p class="info-message">{{messages.info}}</p>
        {{/if}}
    </div>

    <form method="POST" action="/updateBird">
        <h3>Description</h3>
        <input name="description" value="{{bird.description}}">

        <h3>Average Eggs Laid</h3>
        <input name="averageEggs" type="number" value="{{bird.averageEggs}}">

        <h3>Conservation Status</h3>
        {{#if bird.endangered}}
            <p>{{bird.name}} is endangered</p>
            Uncheck box to update statius to not endangered: <input name="endangered" value="true" type="checkbox" checked>
        {{else}}
            <p>{{bird.name}} is not endangered</p>
            Check box to update statius to endangered: <input name="endangered" value="true" type="checkbox">
        {{/if}}

        <h3>Height</h3>
        <input name="height" type="number" value="{{bird.height}}">cm

        <h3>Nest Information</h3>

        <p>Location: <input name ="nestLocation" value="{{bird.nest.location}}"></p>
        <p>Materials: <input name="nestMaterials" value="{{bird.nest.materials}}"></p>

        <button type="submit" class="update">Update Info</button>
        <input type="hidden" name="_id" value="{{bird._id}}">
        <input type="hidden" name="name" value="{{bird.name}}">
    </form>

    <form method="POST" action="/deleteBird">
        <button type="submit" class="delete" name="{{bird.name}}">Delete Bird</button>
        <input type="hidden" name="_id" value="{{bird._id}}">
        <input type="hidden" name="name" value="{{bird.name}}">
    </form>

</div>

<div class="sighting-dates">

    <h2> Bird Sightings</h2>

    <div class="new-sighting-form">

        <h3>Report a new sighting</h3>

        <form method="POST" action="/addSighting">
            Sighting date: <input name="date" type="datetime-local" required>
            <input type="hidden" name="_id" value="{{bird._id}}">
            <button type="submit">Submit Sighting</button>
        </form>

        <div class="flash-errors">
            {{#if messages}}
                <p class="error-message">{{messages.error}}</p>
            {{/if}}
        </div>

    </div>

    <div class="sighting-list">

        <p>Number of sightings: {{length bird.datesSeen}}</p>

    <h2>All Sighting Dates, U.S. Central Time</h2>
    {{#each bird.datesSeen}}
        <p>{{formatDate this}}</p>
    {{else}}
        <p>No sightings for {{bird.name}}</p>
    {{/each}}
    </div>
</div>

<script src="/javascripts/confirm-delete.js"></script>